
build/Dudel.build/Dudel.pbxindex/symbols0.pbxsymbols

build/Dudel.build/Dudel.pbxindex/pbxindex.header

.gitignore

build/Dudel.build/Debug-iphonesimulator/Dudel.build/build-state.dat

build/Dudel.build/Debug-iphonesimulator/Dudel.build/Dudel.dep

Dudel.xcodeproj/Haoxiaolei.pbxuser

Dudel.xcodeproj/Haoxiaolei.mode1v3
